<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <title>File(s) size</title>
  </head>
  <body>
    <form id="form1" action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
      <div>
        <input id="uploadInput" type="file" name="file" multiple/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="fileNum">Selected files: </label>
        <output id="fileNum">0</output>;
        <label for="fileSize">Total size:</label>
        <output id="fileSize">0</output>
      </div>
      <div><input type="submit" value="Upload File"/></div>
      <script src="{{ url_for('static', filename='fileupload.js') }}"></script>     
    </form>
    <br>
    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
      <div>
        <input id="uploadInput" type="file" name="file" webkitdirectory mozdirectory />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="submit" value="Upload Folder"/>
      </div>
    </form>
    <script src="{{ url_for('static', filename='filesize.js') }}"></script>
  </body>
</html>
